:root {
    --color: black;
    --background: white;
    --char: 10;
}

body,
span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.container-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

.site-layout-product {
    padding: 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel-products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    overflow: scroll;
    max-height: 700px;
}

.panel-products::-webkit-scrollbar {
    width: 100%;
    background: transparent;
}

.card-product {
    margin: 10px;
}

.input-search {
    width: 300px;
    padding: 20px 0;
}